{% extends "base.html" %}

{% block title %}Submit Crop Details{% endblock %}

{% block body %}
    <style>
        body {
            height: 100vh;
        }
    </style>

    <div class="form">
        <form action="/login" method="post">
            <h1>
                <center>Submit Details</center>
            </h1>
            <h3>Nitrogen</h3>
            <input type="number" step="any" min="1" max="200" name="Nitrogen" placeholder="Nitrogen in soil" class="box" required />
            <h3>Phosphorous</h3>
            <input type="number" step="any" min="1" max="200" name="Phosphorous" placeholder="Phosphorous in soil" class="box" required />
            <h3>Potassium</h3>
            <input type="number" step="any" min="1" max="200" name="Potassium" placeholder="Potassium in soil" class="box" required />
            <h3>Temperature</h3>
            <input type="number" step="any" min="1" max="65" name="Temperature" placeholder="Temperature in degree" class="box" required />
            <h3>Humidity</h3>
            <input type="number" step="any" min="1" max="100" name="Humidity" placeholder="Humidity in percentage" class="box" required />
            <h3>PH</h3>
            <input type="number" step="any" min="1" max="14" name="PH" placeholder="PH from 1-14" class="box" required />
            <h3>Rainfall</h3>
            <input type="number" step="any" name="Rainfall" placeholder="Rainfall in mm" class="box" required />
            <p><input type="submit" class="button" value=" Submit " /></p>
        </form>
    </div>
{% endblock %}
